<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
  </div>
</div>

<div class="count">Current Count: {{ count$ | async }}</div>

<div>
  <button id="increment" (click)="increment()">Increment</button>
  <button id="decrement" (click)="decrement()">Decrement</button>
  <button id="reset" (click)="reset()">Reset Counter</button>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
