.directive-box{
  margin: 10px 0;
  line-height: 1.5;
}

.directive-button {
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: white;
  background-color: darkgray;
}

.custom-directive-box{
  width: 100%;
  height: 500px;
  border: 1px solid black;
}
